<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
</head>
<body>
    <h1>Enter Numbers to Create Binary Search Tree</h1>
    <form action="/process-numbers" method="post">
        <label for="numbers">Numbers (x,x,x,x):</label>
        <input type="text" id="numbers" name="numbers" required>
        <button type="submit">Submit</button>
    </form>
    <br>
    <a href="/previous-trees">Show Previus Trees</a>
</body>
</html>