<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Previous Trees</title>
</head>
<body>
    <h1>Previous Binary Search Trees</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Input Numbers</th>
            <th>Tree Structure</th>
        </tr>
        <tr th:each="tree : ${trees}">
            <td th:text="${tree.id}"></td>
            <td th:text="${tree.inputNumbers}"></td>
            <td th:text="${tree.treeStructure}"></td>
        </tr>
    </table>
    <br>
    <a href="/enter-numbers">Enter More Numbers</a>
</body>
</html>